.places__paragraph {
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0 auto 26px;
}

.places__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 1279px) {
  .places__paragraph {
  }
}

@media (max-width: 1023px) {
  .places__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .places__paragraph {
    align-self: flex-start;
    width: 288px;
    margin: 0 auto 32px;
  }
}
