.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 109%;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 32px;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    margin: 0 auto 16px;
  }
}
