.photo__title {
  width: 560px;
  height: 152px;
  font-size: 72px;
  line-height: 109%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 32px;
}

@media (max-width: 767px) {
  .photo__title {
    width: 288px;
    height: 70px;
    font-size: 32px;
    margin: 0 auto 16px;
  }
}
